#projects-container {
    max-width: 1024px;
}

.project-img {
    max-width: 200px !important;
    transition: transform 0.1s ease-in-out !important;
}

.project-img:hover {
    transform: scale(1.1) !important;
}


.img-card {
    max-height: 5rem;
}