#about-me {
  font-size: 1.2rem !important;
  max-width: 1000px;
}

#about-image img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.skill-icon {
  max-width: 3.5rem;
  transition: transform 0.1s ease-in-out;
}

.skill-icon:hover {
  transform: scale(1.2);
}